In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import os
import statsmodels.api as sm
import matplotlib.pyplot as plt
import statistics
    
btf = pd.ExcelFile('C:/Users/santhosh/Desktop/WING.xlsx')
df = btf.parse(0,skipfooter=6)
df.head(5)

   name      sex genotype phenotype
0    725  female      a-e   elegans
1    726  female      a-s    aurora
2    735  female      s-s   silvana
3    736  female      a-e   elegans
4    738    male      a-e   elegans

In [2]:
#Taking details of the data set 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       82 non-null     int64
 1   sex        82 non-null     object
 2   genotype   82 non-null     object
 3   phenotype  82 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.7+ KB

I have identified some empty columns in the last 6 rows , so i have removed them

In [3]:
df.tail(10)

    name      sex genotype phenotype
72   1017  female      a-s    aurora
73   1018    male      a-s    aurora
74   1019  female      a-s    aurora
75   1020    male      e-s   elegans
76   1028    male      a-s    aurora
77   1029    male      s-s   silvana
78   1030    male      e-s   elegans
79   1036    male      a-s    aurora
80   1037    male      a-e   elegans
81   1052    male      a-e   elegans

In [4]:
df.rename( {'name ':'id' } , axis=1 , inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         82 non-null     int64
 1   sex        82 non-null     object
 2   genotype   82 non-null     object
 3   phenotype  82 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.7+ KB

In [6]:
#convert sex to category
df['sex'] = df['sex'].astype('category')
df['genotype'] = df['phenotype'].astype('category')
df['phenotype'] = df['phenotype'].astype('category')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         82 non-null     int64
 1   sex        82 non-null     category
 2   genotype   82 non-null     category
 3   phenotype  82 non-null     category
dtypes: category(3), int64(1)
memory usage: 1.4 KB

In [8]:
#Search for null values in dataset

df.isnull().sum().sum()


df.head(5)

    id     sex genotype phenotype
0  725  female  elegans   elegans
1  726  female   aurora    aurora
2  735  female  silvana   silvana
3  736  female  elegans   elegans
4  738    male  elegans   elegans

Looking at the code above it's clear that total 19 null values + 5 columns which are not useful for the study

In [9]:
df.isnull().sum().sum()

#checking for null values now all values seems to ok

0

In [10]:
#Search for duplicate values in dataset

#df.duplic6ated().sum()

df.duplicated(subset=None, keep='first').sum()

0

In [11]:
axs_msr = btf.parse(1,skipfooter=11)
axs_msr.head(5)

,name,sex,genotype,area,ellipse axe 1 length,max axe 1 length,deviation max axe 1 from center,axe 1 Moment 2,axe 1 Moment 3,axe 1 Moment 4,std axe 1 Moment 2,std axe 1 Moment 3,std axe 1 Moment 4
0,0725-d_Ant_d,F,a-e,954465,1622.1291,1674,69.7104,967713404464,1166093876204630,1.488509e+18,0.60150,0.63861,0.66756
1,0725-d_Post_g,F,a-e,638157,1120.3231,1100,-59.4572,249024797899,195194465382355,1.640177e+17,0.56789,0.61252,0.64729
2,0726-d_Ant_d,F,a-s,984051,1673.3414,1741,89.1505,1069847709180,1336034050619670,1.770093e+18,0.59890,0.63602,0.66519
3,0726-d_Post_d,F,a-s,634452,1145.1990,1138,50.8133,267701750118,216542452655594,1.874981e+17,0.57080,0.61410,0.64790
4,0735-d_Ant_g,f,s-s,889416,1602.0627,1649,-123.5292,644725446306,711216237133670,8.532224e+17,0.51631,0.56287,0.60016

In [12]:
axs_msr.tail(15)

,name,sex,genotype,area,ellipse axe 1 length,max axe 1 length,deviation max axe 1 from center,axe 1 Moment 2,axe 1 Moment 3,axe 1 Moment 4,std axe 1 Moment 2,std axe 1 Moment 3,std axe 1 Moment 4
149,1019-d_Post_d,F,a-s,692054,1175.5962,1150,127.1192,294854849522,241294282869942,2.114080e+17,0.56759,0.61203,0.64647
150,1020-d_Ant_g,M,e-s,1117667,1758.8772,1807,-105.0717,1002618566937,1220024823097150,1.609394e+18,0.52415,0.56981,0.60622
151,1020-d_Post_g,M,e-s,757797,1177.7519,1165,17.8053,335094625909,278376059548473,2.479579e+17,0.57080,0.61475,0.64920
152,1028-d_Ant_g,M,a-s,1100444,1756.0353,1804,-90.4156,977979111413,1184632478434160,1.554781e+18,0.52257,0.56811,0.60435
153,1028-d_Post_g,M,a-s,771964,1190.0227,1179,-66.2491,351950402119,296313662660355,2.673324e+17,0.57270,0.61641,0.65065
154,1029-d_Ant_g,M,s-s,1138990,1796.5531,1837,-84.0330,1081739169548,1347240475626370,1.815032e+18,0.53051,0.57570,0.61162
155,1029-d_Post_g,M,s-s,748925,1182.1081,1174,1.2144,343901416039,289036586043831,2.598596e+17,0.57720,0.62016,0.65374
156,1030-d_Ant_d,M,e-s,1054439,1710.5792,1735,97.6822,1111654124459,1384369207461600,1.833293e+18,0.59180,0.63112,0.66184
157,1030-d_Post_d,M,e-s,710435,1153.8736,1146,84.9628,285053782581,227569559267715,1.947914e+17,0.55273,0.59705,0.63143
158,1036-d_Ant_g,M,a-s,1053937,1688.4474,1738,-98.6509,856368196257,995057162737823,1.253838e+18,0.51865,0.56445,0.60091
159,1036-d_Post_g,M,a-s,725224,1132.4175,1116,-98.6783,292668802574,232635098327844,1.981329e+17,0.56923,0.61339,0.64782
160,1037-d_Ant_g,M,a-e,1133782,1735.2357,1775,-105.4738,972590565818,1163425417438900,1.511272e+18,0.52180,0.56825,0.60535
161,1037-d_Post_g,M,a-e,790356,1190.8893,1183,-85.1766,361423703261,304756462098533,2.755057e+17,0.57163,0.61526,0.64952
162,1052-d_Ant_g,M,a-e,1151146,1776.4828,1821,-128.2016,1049081802867,1289772505160110,1.721477e+18,0.52424,0.57036,0.60727
163,1052-d_Post_g,M,a-e,800738,1192.3945,1185,-31.9997,360301609651,302450417232701,2.723265e+17,0.56607,0.61001,0.64444

In [13]:
axs_msr.isnull().sum()

name                               0
sex                                0
genotype                           0
area                               0
ellipse axe 1 length               0
max axe 1 length                   0
deviation max axe 1 from center    0
axe 1 Moment 2                     0
axe 1 Moment 3                     0
axe 1 Moment 4                     0
std axe 1 Moment 2                 0
std axe 1 Moment 3                 0
std axe 1 Moment 4                 0
dtype: int64

In [14]:
axs_msr.isnull().sum().sum()

0

In [15]:
axs_msr['name'] = axs_msr.name.str.extract('(\d+)')
axs_msr.head(5)

,name,sex,genotype,area,ellipse axe 1 length,max axe 1 length,deviation max axe 1 from center,axe 1 Moment 2,axe 1 Moment 3,axe 1 Moment 4,std axe 1 Moment 2,std axe 1 Moment 3,std axe 1 Moment 4
0,0725,F,a-e,954465,1622.1291,1674,69.7104,967713404464,1166093876204630,1.488509e+18,0.60150,0.63861,0.66756
1,0725,F,a-e,638157,1120.3231,1100,-59.4572,249024797899,195194465382355,1.640177e+17,0.56789,0.61252,0.64729
2,0726,F,a-s,984051,1673.3414,1741,89.1505,1069847709180,1336034050619670,1.770093e+18,0.59890,0.63602,0.66519
3,0726,F,a-s,634452,1145.1990,1138,50.8133,267701750118,216542452655594,1.874981e+17,0.57080,0.61410,0.64790
4,0735,f,s-s,889416,1602.0627,1649,-123.5292,644725446306,711216237133670,8.532224e+17,0.51631,0.56287,0.60016

In [16]:
axs_msr.columns

Index(['name', 'sex', 'genotype', 'area', 'ellipse axe 1 length',
       'max axe 1 length', 'deviation max axe 1 from center', 'axe 1 Moment 2',
       'axe 1 Moment 3', 'axe 1 Moment 4', 'std axe 1 Moment 2',
       'std axe 1 Moment 3', 'std axe 1 Moment 4'],
      dtype='object')

In [17]:
axs_msr['name'] = axs_msr['name'].astype('int')
axs_msr['sex'] = axs_msr['sex'].astype('category')
axs_msr['genotype'] = axs_msr['genotype'].astype('category')
axs_msr['axe 1 Moment 4'] = axs_msr['axe 1 Moment 4'].astype('float')

axs_msr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   name                             164 non-null    int32
 1   sex                              164 non-null    category
 2   genotype                         164 non-null    category
 3   area                             164 non-null    int64
 4   ellipse axe 1 length             164 non-null    float64
 5   max axe 1 length                 164 non-null    int64
 6   deviation max axe 1 from center  164 non-null    float64
 7   axe 1 Moment 2                   164 non-null    int64
 8   axe 1 Moment 3                   164 non-null    int64
 9   axe 1 Moment 4                   164 non-null    float64
 10  std axe 1 Moment 2               164 non-null    float64
 11  std axe 1 Moment 3               164 non-null    float64
 12  std axe 1 Moment 4               164 non-null    float64
dtypes: category(2), float64(6), int32(1), int64(4)
memory usage: 14.2 KB

In [18]:
axs_msr.rename( {'name':'id' } , axis=1 , inplace = True)
axs_msr

,id,sex,genotype,area,ellipse axe 1 length,max axe 1 length,deviation max axe 1 from center,axe 1 Moment 2,axe 1 Moment 3,axe 1 Moment 4,std axe 1 Moment 2,std axe 1 Moment 3,std axe 1 Moment 4
0,725,F,a-e,954465,1622.1291,1674,69.7104,967713404464,1166093876204630,1.488509e+18,0.60150,0.63861,0.66756
1,725,F,a-e,638157,1120.3231,1100,-59.4572,249024797899,195194465382355,1.640177e+17,0.56789,0.61252,0.64729
2,726,F,a-s,984051,1673.3414,1741,89.1505,1069847709180,1336034050619670,1.770093e+18,0.59890,0.63602,0.66519
3,726,F,a-s,634452,1145.1990,1138,50.8133,267701750118,216542452655594,1.874981e+17,0.57080,0.61410,0.64790
4,735,f,s-s,889416,1602.0627,1649,-123.5292,644725446306,711216237133670,8.532224e+17,0.51631,0.56287,0.60016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,1036,M,a-s,725224,1132.4175,1116,-98.6783,292668802574,232635098327844,1.981329e+17,0.56923,0.61339,0.64782
160,1037,M,a-e,1133782,1735.2357,1775,-105.4738,972590565818,1163425417438900,1.511272e+18,0.52180,0.56825,0.60535
161,1037,M,a-e,790356,1190.8893,1183,-85.1766,361423703261,304756462098533,2.755057e+17,0.57163,0.61526,0.64952
162,1052,M,a-e,1151146,1776.4828,1821,-128.2016,1049081802867,1289772505160110,1.721477e+18,0.52424,0.57036,0.60727
163,1052,M,a-e,800738,1192.3945,1185,-31.9997,360301609651,302450417232701,2.723265e+17,0.56607,0.61001,0.64444

In [19]:
axs_msr['area'].describe()

count    1.640000e+02
mean     8.880787e+05
std      1.922347e+05
min      5.203800e+05
25%      7.132935e+05
50%      8.180800e+05
75%      1.072885e+06
max      1.202555e+06
Name: area, dtype: float64